<h2>Categories</h2>
<%= link_to 'animals', informed_path('animals') %><br>
<%= link_to 'bullying', informed_path('bullying') %><br>
<%= link_to 'disasters', informed_path('disasters') %><br>
<%= link_to 'discrimination', informed_path('discrimination') %><br>
<%= link_to 'education', informed_path('education') %><br>
<%= link_to 'environment', informed_path('environment') %><br>
<%= link_to 'homelessness', informed_path('homelessness') %><br>
<%= link_to 'mental health', informed_path('mental health') %><br>
<%= link_to 'physical health', informed_path('physical health') %><br>
<%= link_to 'poverty', informed_path('poverty') %><br>
<%= link_to 'relationships', informed_path('relationships') %><br>
<%= link_to 'sex', informed_path('sex') %><br>
