<h2>Categories</h2>

<%= link_to 'Animals', informed_path('Animals') %><br>
<%= link_to 'Bullying', informed_path('Bullying') %><br>
<%= link_to 'Disasters', informed_path('Disasters') %><br>
<%= link_to 'Discrimination', informed_path('Discrimination') %><br>
<%= link_to 'Education', informed_path('Education') %><br>
<%= link_to 'Environment', informed_path('Environment') %><br>
<%= link_to 'Homelessness', informed_path('Homelessness') %><br>
<%= link_to 'Mental Health', informed_path('Mental Health') %><br>
<%= link_to 'Physical Health', informed_path('Physical Health') %><br>
<%= link_to 'Poverty', informed_path('Poverty') %><br>
<%= link_to 'Relationships', informed_path('Relationships') %><br>
<%= link_to 'Sex', informed_path('Sex') %><br>
<%= link_to 'Violence', informed_path('Violence') %><br>
<br>
<a href="/informed">Back to Top Stories</a>
