<h2>Categories</h2>
<%= link_to 'bullying', informed_path('bullying') %><br>
<%= link_to 'animals', informed_path('animals') %><br>
<%= link_to 'disasters', informed_path('disasters') %><br>
<%= link_to 'discrimination', informed_path('discrimination') %><br>
<%= link_to 'education', informed_path('education') %><br>
<%= link_to 'environment', informed_path('environment') %><br>
<%= link_to 'health', informed_path('health') %><br>
<%= link_to 'poverty', informed_path('poverty') %><br>
<%= link_to 'sex + relationships', informed_path('relationships') %><br>
