<% if user_signed_in? %>

<div class="sticker">
  <div class="col-md-8 center"></div>
    <p class="hello">Welcome, <strong><%= current_user.name %></strong>.</p>
      <img class="bg" src=<%=image_path("bg.jpg") %> alt="">
  </div>
<br>

<div id="cal_container">

<div id="calendar">
</div>
</div>
<left>
<div class="card">
<div class="row">
  <h1> Favorites</h1>

  <div id="c" class="col-xs-2 col-md-2">
  <p><% @favorites.each do |fav| %>
  <a href="<%= render_url(fav)%>"><%= fav["title"] %></a><br>
  <%= fav["tagline"] %>
   </p>
<% end %>
  </div>

  <div id="c" class="col-xs-2 col-md-2">
  <% @fav_charity.each do |fav| %>

  <p><a href="<%= render_ur(fav)%>"><%= fav["name"] %></a><br>
  <%= fav["city"] %></p>
   </p>
<% end %></div>

</div>
</div>
</div>


<% else %>
<div id="login" class="login">
  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
<div class="homepage-hero-module">
    <div class="video-container">
        <div class="filter"></div>
        <video autoplay loop class="fillWidth">
            <source src= <%=image_path("Draw-Something/MP4/Draw-Something.mp4") %>  type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
            <source src=<%=image_path("Draw-Something/WEBM/Draw-Something.webm") %> type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
        </video>
        <!-- <div class="poster hidden"> -->
            <!-- <img src=<%=image_path("Draw-Something/Snapshots/Draw-Something.jpg") %> alt="">
        </div>
    </div>
<!-- </div> -->
</div>
<% end %>


