
<div class="page_container-event">
<div id="Event_header" class="login">
  <h1 id="event-h1">Create an Event</h1>
</div>

<div class="event_sticker">
   <img class="inv"src= <%=image_path("new_event.jpg") %> width="599" height="556" alt="Words" usemap="#wordsmap">
</div>


 <div class="event-form">
<%= form_for :events, url: "/events" do |f| %><br>
  Title: <%= text_field_tag :title %><br>
  Date: <%= text_field_tag :date, :class => "datepicker" %><br>
  Start Time:<%= text_field_tag :start_time %><br>
  End Time: <%= text_field_tag :end_time %><br>
  About: <%= text_field_tag :content %><br>
  Topic: <%= text_field_tag :topic %><br>
  Price: <%= text_field_tag :price %><br>
  Type of Event:<%= text_field_tag :type_of_event %><br>
  <%= hidden_field_tag :user_id, current_user.id %><br>
  <%= f.submit "Create" %><br>
<% end %><br>
</div>


</div>

