SHOW PAGE
<br><br>
<% @campaigns["data"].each do |campaign| %>
  <% if cause_events(campaign) %>
      <%= campaign["title"] %> <br>
      <%= campaign["tagline"] %><br>
      <a href="<%= render_url(campaign)%>">Learn more about <%= campaign["title"] %></a>


      <%= form_for :favorites, url: "/involved" do |f| %>
        <%= text_field_tag :title, campaign["title"] %><br>
        <%= text_field_tag :url, render_url(campaign)%><br>
        <%= text_field_tag :tagline, campaign["tagline"] %><br>
        <%= text_field_tag :user_id, @user.id %><br>
        <%= f.submit %>
      <% end %>

      <br><br>
  <% end %>

<% end %>
