<div class="page_container">
  <div class="row">


<% @causes.each do |cause| %>

  <div class="col-sm-3">
    <img class="card-img-top" src=<%= cause["cover_image"] %> alt=""><br>
    <div class="card-block">

      <h4 class="card-title"><%= cause["title"] %></h4>
      <p class="card-text"><%= cause["tagline"] %></p>
      <p class="card-text"><a href="<%= render_url(cause)%>">Learn more about <%= cause["title"] %></a> </p>

      <% user_favorites(cause, @saved_favs) %>
        <% if @fav_arr %>
          <% if @fav_arr.include?("YES") %>
            <%= form_for(:favorites, :html => {:method => 'delete'}) do |f| %>
              <%= hidden_field_tag :delete_id, @saved_favs[@index_of_fav][:id] %>
              <%= f.submit "Delete From Favorites" %>
            <% end %>
          <% else %>
            <%= form_for :favorites, url: "/involved" do |f| %>
              <%= hidden_field_tag :title, cause["title"] %>
              <%= hidden_field_tag :url, render_url(cause)%>
              <%= hidden_field_tag :tagline, cause["tagline"] %>
              <%= hidden_field_tag :user_id, @user.id %>
              <%= f.submit "Favorite This Cause" %>
            <% end %>
          <% end %>
          <% else %>
            <%= form_for :favorites, url: "/involved" do |f| %>
              <%= hidden_field_tag :title, cause["title"] %>
              <%= hidden_field_tag :url, render_url(cause)%>
              <%= hidden_field_tag :tagline, cause["tagline"] %>
              <%= hidden_field_tag :user_id, @user.id %>
              <%= f.submit "Favorite This Cause" %>
              <% end %>
        <% end %>
    </div>
  </div>


<% end %>
</div>

<!--  -->
</div>

