SHOW PAGE

<!-- THIS PAGE SHOULD NOT BE VIEWABLE TO ANYONE NOT LOGGED IN -->


<br><br><br><br>

<% @campaigns["data"].each do |campaign| %>
  <% if cause_events(campaign) %>
      <strong><%= campaign["title"] %></strong> <br>
      <%= campaign["tagline"] %><br>
      <a href="<%= render_url(campaign)%>">Learn more about <%= campaign["title"] %></a>
      <br>

      <% user_favorites(campaign, @saved_favs) %>
        <% if @fav_arr.include?("YES") %>
          **This is one of your favorite causes**
          <%= form_for(:favorites, :html => {:method => 'delete'}) do |f| %>
            <%= hidden_field_tag :delete_id, @saved_favs[@index_of_fav][:id] %>
            <%= f.submit "Delete From Favorites" %>
          <% end %>
        <% else %>
          <%= form_for :favorites, url: "/involved" do |f| %>
            <%= hidden_field_tag :title, campaign["title"] %>
            <%= hidden_field_tag :url, render_url(campaign)%>
            <%= hidden_field_tag :tagline, campaign["tagline"] %>
            <%= hidden_field_tag :user_id, @user.id %>
            <%= f.submit "Favorite This Cause" %>
          <% end %>
        <% end %>

<br><br><br>

  <% end %>
<% end %>
